.main,.note-side{
    width:80%;
    padding: 10px 50px;
}
.hero-section{
    display: flex;
    align-items: center;
   
}

@media (max-width:700px){
    .main,.note-side{
 
        width:100%;
        padding: 10px 50px;
    }
    .feedback{
        height: 0px;
    }

}
