
div.setting{
    text-align: center;
    padding-top: 20px;
    
}

p{
    font-size: 30px;
    color: #373a3c;
    margin-bottom: 10px;
}
form{
    width:90%;
    margin: auto;
}
input{
display: block;
 text-align: center;
 width:40%;
 height: 60px;
 margin: auto;
 margin-top: 20px;
 margin-bottom: 30px;
 border:.1px solid #7e7e7e;
 border-radius: 8px;
 outline: none;
}
input::placeholder{
    font-size: 20px;
}
button.btn1,button.btn2{
color:white;
background-color: #5cb85c;
border-radius: 7px;
width:250px;
height: 50px;
border: none;
margin-bottom: 20px;
display: block;
margin: auto;
font-size: 20px;
}
button.btn2{
   background-color: white;
   border:1px solid #b85c5c;
   color:#b85c5c;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-bottom: 50px;
   cursor: pointer;
}
button.btn2:hover{
    color:white;
    background-color: #b85c5c;
}  

@media(max-width:800px){
   input{
        width:100%;
    }
}