a{
    color:rgba(122, 122, 122, 0.6);
    padding-right: 20px;
    font-size: 19px;
}

@media (max-width:850px) {
   div.main-content{
    display: block !important;
   }
    h1{
        text-align: center;
    }
   a{
    padding-right: 6px;
   }
}